{% extends 'base.html' %}

{% block css %}
<style>

</style>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row my-2">
        <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <blockquote class="blockquote">
                  <p>Visualize Scraped data</p>
                </blockquote>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>

</script>
{% endblock %}
